/* .Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 90%;
} */

/* .Palette-footer {
    background-color: #eceff1;
    height: 5vh;
    height: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
} */

/* .Palette-footer-text {
    font-weight: 600;
}

.Palette-footer-emoji {
    font-size: 1.5rem;
    margin: 0 1rem;
} */